.right-arrow {
  position: absolute;
  margin-left: 130%;
  margin-bottom: 15%;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  margin-right: 130%;
  margin-bottom: 15%;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}